#Terraform
IaC/.terraform/
IaC/*.tfstate
IaC/*.tfstate.*
IaC/crash.log
IaC/*.tfvars
IaC/override.tf
IaC/override.tf.json
IaC/*_override.tf
IaC/*_override.tf.json
IaC/.terraform.lock.hcl

# .NET Core
back-game-of-life/**/bin/
back-game-of-life/**/obj/
back-game-of-life/**/*.user
back-game-of-life/**/*.suo
back-game-of-life/**/*.userosscache
back-game-of-life/**/*.sln.docstates
back-game-of-life/.vs/
back-game-of-life/TestResults/

# front-game-of-life
front-game-of-life/**/bin/
front-game-of-life/**/obj/
front-game-of-life/**/*.user
front-game-of-life/**/*.suo
front-game-of-life/**/*.userosscache
front-game-of-life/**/*.sln.docstates
front-game-of-life/.vs/
front-game-of-life/TestResults/
front-game-of-life/node_modules/
front-game-of-life/dist/
front-game-of-life/package-lock.json
front-game-of-life/.env
front-game-of-life/.env.*
front-game-of-life/.DS_Store
front-game-of-life/npm-debug.log*
front-game-of-life/yarn-debug.log*  
front-game-of-life/yarn-error.log*
front-game-of-life/pnpm-debug.log*
front-game-of-life/.eslintcache
